@import url("../../assets/fonts/index.css");

.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.empty-chat {
  background-color: white;
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border-left: 1px solid lightgray; */
}

.empty-chat-text {
  font-family: Medium;
  font-size: 16px;
}

.empty-chat-header {
  font-family: Bold;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.empty-chat-img {
  width: 190px;
}

/* #1-chat header */
/* header */
.chat-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

/* headerInfo */
.chat-headerInfo {
  flex: 1;
}

.chat-room-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

.chat-headerInfo > h3 {
  font-weight: 800;
  margin-bottom: 3px;
}

.chat-headerInfo > p {
  color: grey;
}

/* headerRight */
.chat-headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

/* #1-chat body */
.chat-body {
  background: rgb(221, 221, 221);
  flex: 1;
  padding: 50px;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* chat-message */
.chat-message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
}

.chat-receiver {
  margin-left: auto;
  background-color: #9cbbff;
}

/* chat name and timestamp */
.chat-name {
  position: absolute;
  top: -21px;
  font-weight: 800;
  font-size: small;
}

.chat-timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

/* chat-footer */
.chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid lightgrey;
}

.chat-footer > form {
  flex: 1;
  display: flex;
}

.chat-footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.chat-footer > form > button {
  display: none;
}

.chat-footer > .MuiSvgIcon-root {
  color: grey;
  padding: 10px;
}

.chat-header-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-room-title {
  text-align: center;
  padding-right: 50px;
}

.chat-back-btn {
  padding: 0 !important;
}

.chat-room-name {
  font-size: 22px;
  font-family: Bold;
  color: "#2b2b2b";
}

/* responsive */
@media (max-width: 768px) {
  .chat,
  .empty-chat {
    position: absolute;
    background-color: white;
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100vw;
  }

  .hide-empty-chat {
    display: none;
  }
}
