.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: relative;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

/* sidebarchat-info */
.sidebarChat-info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat-info {
  margin-left: 15px;
}

.deleteicon {
  right: 15px;
  position: absolute;
  color: #45a1ff;
}
a {
  text-decoration: none !important;
  color: black;
}

.sidebar-chat-message {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
