@import url("../../assets/fonts/index.css");

.login {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  text-align: center;
  background-color: white;
}

.login-container > img {
  object-fit: contain;
  height: 190px;
  margin: -35px;
}

.login-container > button {
  margin-top: 26px;
}

.login-heading {
  font-size: 28px;
  font-family: Heading;
  padding-bottom: 8px;
  color: #2b2b2b;
}

.login-text {
  font-size: 16px;
  font-family: Medium;
  color: #3d3d3d;
}

.login-btn {
  background-color: white !important;
  border: 1px solid rgb(167, 167, 167) !important;
  color: #3d3d3d !important;
  padding: 8px 10px;
}

.login-btn-text {
  padding-left: 6px;
  font-family: Medium;
  font-size: 14px;
  text-transform: capitalize;
}

/* responsive */
@media (max-width: 768px) {
  .login-container {
    padding: 50px;
  }
}

/* responsive */
@media (max-width: 768px) {
  .login-container {
    padding: 50px;
  }
}

@media (max-width: 425px) {
  .login-container {
    padding: 20px;
  }
}
