.header-icon {
  padding: 30px;
  display: flex;
  align-self: flex-end;
  justify-self: center;
  position: absolute;
  top: 0;
}

.header-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
