/* fonts */
@font-face {
  font-family: Regular;
  src: url("./Montserrat-Regular.ttf");
}

@font-face {
  font-family: Medium;
  src: url("./Montserrat-Medium.ttf");
}

@font-face {
  font-family: Bold;
  src: url("./Montserrat-Bold.ttf");
}

@font-face {
  font-family: SemiBold;
  src: url("./Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Heading;
  src: url("./Montserrat-Bold.ttf");
}

@font-face {
  font-family: Black;
  src: url("./Montserrat-Black.ttf");
}
