@import url("../../assets/fonts/index.css");

.footer-icon {
  padding: 30px;
  display: flex;
  align-self: flex-end;
  font-family: Regular;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-icon {
    padding: 30px;
    display: flex;
    align-self: center;
    font-family: Regular;
  }
}
