@import url("../../../assets/fonts/index.css");

/* header */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.sidebar-headerRight {
  display: flex;
  align-items: right;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 2px;
  color: black;
  padding-right: 6px;
  padding-top: 2px;
}

.header-text {
  font-size: 24px;
  font-family: Heading;
  text-align: center;
  color: black;
  letter-spacing: -2px;
}

.signout-btn {
  /* color: black; */
}

.sidebar-headerRight > .MuiSvgIcon-root {
  margin: 1vw;
  font-size: 24px im !important;
}
